## Challenge 1: 

**Reading multiple (3) MTA turnstile data files and concatenating them.**

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Source: http://web.mta.info/developers/turnstile.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [200912, 200919, 200926]
turnstiles_df = get_data(week_nums)

In [4]:
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/05/2020,00:00:00,REGULAR,7453934,2534625
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/05/2020,04:00:00,REGULAR,7453939,2534627
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/05/2020,08:00:00,REGULAR,7453951,2534645
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/05/2020,12:00:00,REGULAR,7453997,2534689
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/05/2020,16:00:00,REGULAR,7454097,2534727

In [19]:
print(type(turnstiles_df.columns))

<class 'pandas.core.indexes.base.Index'>

In [5]:
turnstiles_df.dtypes

C/A                                                                     object
UNIT                                                                    object
SCP                                                                     object
STATION                                                                 object
LINENAME                                                                object
DIVISION                                                                object
DATE                                                                    object
TIME                                                                    object
DESC                                                                    object
ENTRIES                                                                  int64
EXITS                                                                    int64
dtype: object

In [8]:
turnstiles_df['C/A'].value_counts().size

750

In [10]:
turnstiles_df.describe(include=['O'])

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC
count,630076,630076,630076,630076,630076,630076,630076,630076,630076
unique,750,470,223,379,114,6,21,23051,2
top,PTH22,R549,00-00-00,34 ST-PENN STA,1,IRT,09/11/2020,04:00:00,REGULAR
freq,5367,8595,58961,12538,77656,223298,32239,53042,627445

In [17]:
print(plt.style.available)

['seaborn-dark', 'seaborn-darkgrid', 'seaborn-ticks', 'fivethirtyeight', 'seaborn-whitegrid', 'classic', '_classic_test', 'fast', 'seaborn-talk', 'seaborn-dark-palette', 'seaborn-bright', 'seaborn-pastel', 'grayscale', 'seaborn-notebook', 'ggplot', 'seaborn-colorblind', 'seaborn-muted', 'seaborn', 'Solarize_Light2', 'seaborn-paper', 'bmh', 'tableau-colorblind10', 'seaborn-white', 'dark_background', 'seaborn-poster', 'seaborn-deep']

In [20]:
for i, column in enumerate(turnstiles_df.columns):
    print(i, column)

0 C/A
1 UNIT
2 SCP
3 STATION
4 LINENAME
5 DIVISION
6 DATE
7 TIME
8 DESC
9 ENTRIES
10 EXITS

## Challenge 2: 

**Converting DATE and TIME string columns to Datetime objects.**
**Removing columns we do not need.**

In [ ]:
data.head()

In [ ]:
#pd.to_datetime(data['DATE']+' '+data['TIME']).head()
data['DATE_TIME'] = pd.to_datetime(data['DATE']+' '+data['TIME'])
data.head()

In [ ]:
# Removing columns we do nto need
cols = ['LINENAME', 'DIVISION', 'DESC', 'EXITS                                                               ','DATE', 'TIME']
data.drop(cols, axis=1, inplace=True)

In [36]:
data.head(10)

    C/A  UNIT       SCP STATION  ENTRIES           DATE_TIME
0  A002  R051  02-00-00   59 ST  7450785 2020-08-29 00:00:00
1  A002  R051  02-00-00   59 ST  7450788 2020-08-29 04:00:00
2  A002  R051  02-00-00   59 ST  7450798 2020-08-29 08:00:00
3  A002  R051  02-00-00   59 ST  7450826 2020-08-29 12:00:00
4  A002  R051  02-00-00   59 ST  7450910 2020-08-29 16:00:00
5  A002  R051  02-00-00   59 ST  7451020 2020-08-29 20:00:00
6  A002  R051  02-00-00   59 ST  7451092 2020-08-30 00:00:00
7  A002  R051  02-00-00   59 ST  7451095 2020-08-30 04:00:00
8  A002  R051  02-00-00   59 ST  7451100 2020-08-30 08:00:00
9  A002  R051  02-00-00   59 ST  7451117 2020-08-30 12:00:00

In [37]:
data.index.names

FrozenList([None])

In [38]:
# Can remove hierarchical index by using: multi.reset_index()
multi = data.set_index(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE_TIME'])

In [39]:
multi.head()

                                                ENTRIES
C/A  UNIT SCP      STATION DATE_TIME
A002 R051 02-00-00 59 ST   2020-08-29 00:00:00  7450785
                           2020-08-29 04:00:00  7450788
                           2020-08-29 08:00:00  7450798
                           2020-08-29 12:00:00  7450826
                           2020-08-29 16:00:00  7450910

In [41]:
multi.index.names

FrozenList(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE_TIME'])

In [43]:
multi.index.values

array([('A002', 'R051', '02-00-00', '59 ST', Timestamp('2020-08-29 00:00:00')),
       ('A002', 'R051', '02-00-00', '59 ST', Timestamp('2020-08-29 04:00:00')),
       ('A002', 'R051', '02-00-00', '59 ST', Timestamp('2020-08-29 08:00:00')),
       ...,
       ('TRAM2', 'R469', '00-05-01', 'RIT-ROOSEVELT', Timestamp('2020-09-18 13:00:00')),
       ('TRAM2', 'R469', '00-05-01', 'RIT-ROOSEVELT', Timestamp('2020-09-18 17:00:00')),
       ('TRAM2', 'R469', '00-05-01', 'RIT-ROOSEVELT', Timestamp('2020-09-18 21:00:00'))],
      dtype=object)

In [ ]:
# Sort by DATE_TIME
data = data.sort_values(by='DATE_TIME')

In [ ]:
type(data['DATE_TIME'][0])

In [ ]:
data.head(20)

## Challenge 3: 

Each row is a turnstile, identified by a combination of the C/A, UNIT, SCP, and STATION columns, with information on entries and exits at that turnstile every n hours. (What is n?) We want total daily entries.
Group the data so that it represents daily entries for each turnstile (hint: pd.groupby or DataFrame.groupby)

In [ ]:
#data['DATE_TIME'][1] - data['DATE_TIME'][0]

In [ ]:
DAYS = data.loc[:,'DATE_TIME'].dt.day
data['DAYS'] = DAYS
data.head()

In [ ]:
daily_groups = data.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DAYS'])['DAYS','ENTRIES'].agg('unique', lambda x: max(x) - min(x))

#.agg(lambda x: max(x) - min(x))instead of sum

In [ ]:
# count = 0
# for state, frame in daily_groups:
#     print(f"First 2 entries for {state!r}")
#     print("------------------------")
#     print(frame.head(2), end="\n\n")
#     if count > 3:
#         break
#     count += 1

In [ ]:
type(daily_entries)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

filt = (data['C/A']=='A002' & data['UNIT']=='R051' & data['SCP']=='02-00-00'& data['STATION']=='59 ST')
data.loc[filt]

In [ ]:
plt.figure(figsize=(10,3))
    plt.plot(<days>,<entries>)