## Challenge 1: 

**Reading multiple (3) MTA turnstile data files and concatenating them.**

In [ ]:
import pandas as pd
import glob

In [ ]:
path = r'/Users/Vidya/Documents/METIS/GitHub/project-1'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

data = pd.concat(li, axis=0, ignore_index=True)

d1 = pd.read_csv('turnstile_200919.csv')
#data = pd.read_csv('turnstile_200919.csv', parse_dates = [['DATE', 'TIME']])

In [ ]:
data.columns

## Challenge 2: 

**Converting DATE and TIME string columns to Datetime objects.**
**Removing columns we do not need.**

In [ ]:
data.head()

In [ ]:
#pd.to_datetime(data['DATE']+' '+data['TIME']).head()
data['DATE_TIME'] = pd.to_datetime(data['DATE']+' '+data['TIME'])
data.head()

In [ ]:
# Removing columns we do nto need
cols = ['LINENAME', 'DIVISION', 'DESC', 'EXITS                                                               ','DATE', 'TIME']
data.drop(cols, axis=1, inplace=True)

In [36]:
data.head(10)

    C/A  UNIT       SCP STATION  ENTRIES           DATE_TIME
0  A002  R051  02-00-00   59 ST  7450785 2020-08-29 00:00:00
1  A002  R051  02-00-00   59 ST  7450788 2020-08-29 04:00:00
2  A002  R051  02-00-00   59 ST  7450798 2020-08-29 08:00:00
3  A002  R051  02-00-00   59 ST  7450826 2020-08-29 12:00:00
4  A002  R051  02-00-00   59 ST  7450910 2020-08-29 16:00:00
5  A002  R051  02-00-00   59 ST  7451020 2020-08-29 20:00:00
6  A002  R051  02-00-00   59 ST  7451092 2020-08-30 00:00:00
7  A002  R051  02-00-00   59 ST  7451095 2020-08-30 04:00:00
8  A002  R051  02-00-00   59 ST  7451100 2020-08-30 08:00:00
9  A002  R051  02-00-00   59 ST  7451117 2020-08-30 12:00:00

In [37]:
data.index.names

FrozenList([None])

In [38]:
# Can remove hierarchical index by using: multi.reset_index()
multi = data.set_index(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE_TIME'])

In [39]:
multi.head()

                                                ENTRIES
C/A  UNIT SCP      STATION DATE_TIME
A002 R051 02-00-00 59 ST   2020-08-29 00:00:00  7450785
                           2020-08-29 04:00:00  7450788
                           2020-08-29 08:00:00  7450798
                           2020-08-29 12:00:00  7450826
                           2020-08-29 16:00:00  7450910

In [41]:
multi.index.names

FrozenList(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE_TIME'])

In [43]:
multi.index.values

array([('A002', 'R051', '02-00-00', '59 ST', Timestamp('2020-08-29 00:00:00')),
       ('A002', 'R051', '02-00-00', '59 ST', Timestamp('2020-08-29 04:00:00')),
       ('A002', 'R051', '02-00-00', '59 ST', Timestamp('2020-08-29 08:00:00')),
       ...,
       ('TRAM2', 'R469', '00-05-01', 'RIT-ROOSEVELT', Timestamp('2020-09-18 13:00:00')),
       ('TRAM2', 'R469', '00-05-01', 'RIT-ROOSEVELT', Timestamp('2020-09-18 17:00:00')),
       ('TRAM2', 'R469', '00-05-01', 'RIT-ROOSEVELT', Timestamp('2020-09-18 21:00:00'))],
      dtype=object)

In [ ]:
# Sort by DATE_TIME
data = data.sort_values(by='DATE_TIME')

In [ ]:
type(data['DATE_TIME'][0])

In [ ]:
data.head(20)

## Challenge 3: 

Each row is a turnstile, identified by a combination of the C/A, UNIT, SCP, and STATION columns, with information on entries and exits at that turnstile every n hours. (What is n?) We want total daily entries.
Group the data so that it represents daily entries for each turnstile (hint: pd.groupby or DataFrame.groupby)

In [ ]:
#data['DATE_TIME'][1] - data['DATE_TIME'][0]

In [ ]:
DAYS = data.loc[:,'DATE_TIME'].dt.day
data['DAYS'] = DAYS
data.head()

In [ ]:
daily_groups = data.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DAYS'])['DAYS','ENTRIES'].agg('unique', lambda x: max(x) - min(x))

#.agg(lambda x: max(x) - min(x))instead of sum

In [ ]:
# count = 0
# for state, frame in daily_groups:
#     print(f"First 2 entries for {state!r}")
#     print("------------------------")
#     print(frame.head(2), end="\n\n")
#     if count > 3:
#         break
#     count += 1

In [ ]:
type(daily_entries)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

filt = (data['C/A']=='A002' & data['UNIT']=='R051' & data['SCP']=='02-00-00'& data['STATION']=='59 ST')
data.loc[filt]

In [ ]:
plt.figure(figsize=(10,3))
    plt.plot(<days>,<entries>)